*{
    text-align: center;
}

nav{
    background-color: grey;
}

.container{
    display: flex;
    flex-direction: row;
    height: 90%;
    justify-content: space-between;
    margin-top: 2rem;
}

.left{
    background-color: blue;
    width: 50%;
    height: 70%;
}

.right{
    background-color: red;
    width: 25%;
    height: 70%;
}

footer{
    background-color: green;
    position: absolute;
    bottom: 0;
    width: 100%;
}
