body {
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: #79b9c6;
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

p {
  color: #000000;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 2rem;
}

h1 {
  margin-top: .25rem;
  font-size: 102px;
}

button{
  margin-top: 1rem;
  color: #ffffff;
  font-size: 18px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: .5em;
}

.nav-bar{
  font-size: 24px;
}

.get-a-quote-container{
  text-align: center;
  margin: 150px;
}